
@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');

* {
  font-family: 'Imbue', sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  height: 60px;
  width: 100%;
  margin-top: 2%;
}

.esp {
  width: 40%;
}

.boton-head {
  padding: 10px;
  width: 150px;
}

.img-head {
  padding: 10px;
}

/*BOTONES*/
.btn-group1 {
  color: white;
  background-color: rgb(36, 56, 51);
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 30px;
  margin-right: 40px;
  border:0;
}

.btn-group2 {
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 30px;
  margin-right: 40px;
  border:0;
}

/*.btn-group button:hover {
  background-color: initial;
}*/

@media screen and (max-width: 768px) {
  
}
