@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');

* {
    font-family: 'Imbue', sans-serif;
}

@media screen and (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 999;
        background-color: #243833;
        padding: 20px;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        color: white;

    }

    .col {
        flex-grow: 2;

    }

    .colcentral {
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .txprimero {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .txtpeque {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .col1 {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .txt {
        font-size: 300%;
    }

    .txtcentro {
        font-size: xx-large;
    }

    .txtlegal {
        font-size: x-large;
    }

    .txtlegal1 {
        font-size: x-large;
    }


.txt1 {
    font-size: xx-large;
}


.logosfooter {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.logoinsta {
    width: 50px;
    height: 50px;
}

.logowhats {
    width: 50px;
    height: 50px;
}

.barra {
    font-size: 700%;
}
}