@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');

* {
  font-family: 'Imbue', sans-serif;
  margin: 0;
}

/*-----------HEADER-----------*/

.gridcontainer {
  display: grid;
  grid-template-columns: 150px 400px auto 315px;
  grid-template-rows: 135px auto;
  box-shadow: 0px 0px 10px 0px;
  height: 130px;
}

.mgtxt {
  margin-left: 30px;
}

.mgdiv {
  margin-top: 45px;
  font-size: 30px;
}

.rightp {
  margin-top: 40px;
}

.boton1 {
  padding: 12px 35px;
  border: 0;
  border-radius: 30px;
  margin-left: 20px;
  color: white;
  background-color: rgb(36, 56, 51);
}

.boton2 {
  padding: 12px 35px;
  border: 0;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 40px;
}

.imgces {
  width: 40px;
  margin-left: -20px;
  position: absolute;
  float: right;
}

@media screen and (max-width: 880px) {

  .boton1 {
    display: none;
  }

  .boton2 {
    display: none;
  }

}


@media screen and (max-width: 600px) {

  .imgces {
    display: none;
  }

}

/*------------BODY------------*/

.body {
    margin: 0;
    padding: 0;
  }

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url(../IMAGENES/hojasFOL.png);
  }

.job-description {
    margin: 6.5px;
    display: flex;
    justify-content: center;
  }

h2 {
    color: #333;
  }

ul {
    list-style-type: disc;
    margin-left: 20px;
  }

.how-to-apply {
    background-color: #f2f2f2;
    padding-bottom: 15px;
    text-align: center;
    line-height: 47px;
    font-size: 22px;
  }

.apply-button {
    background: rgb(36, 56, 51);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
  }

.sep {
    background-image: linear-gradient(white, #f2f2f2);
    height: 20px;
}

footer {
    color: #fff;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    background-image: linear-gradient(#f2f2f2, rgb(36, 56, 51));
    height: 30px;
  }

.job-description > ul {
    margin: 10px;
    font-size: 20px;
  }

/*-----------FOOTER-----------*/

.fot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    z-index: 999;
    background-color: #243833;
    padding: 20px;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
    height: 166px;
}

.col {
    flex-grow: 2;
}

.colcentral {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.txprimero {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.txtpeque {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.col1 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.txt {
    font-size: 300%;
}

.txtcentro {
    font-size: xx-large;
}

.txtlegal {
    font-size: x-large;
}

.txtlegal1 {
    font-size: x-large;
}


.txt1 {
    font-size: xx-large;
}


.logosfooter {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.logoinsta {
    width: 50px;
    height: 50px;
}

.logowhats {
    width: 50px;
    height: 50px;
}

.barra {
    font-size: 700%;
}