@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap');

* {
  font-family: 'Imbue', sans-serif;
  margin: 0;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 150px 400px auto 315px;
  grid-template-rows: 135px auto;
}

.mgtxt {
  margin-left: 30px;
  text-decoration: none;
  color: black;
}
.mgtxt:hover {
  color: black;
  text-decoration: none;
  
}
.mgtxt:active {
  color: black;
  text-decoration: none;
}
.mgdiv {
  margin-top: 45px;
  font-size: 30px;
}

.rightp {
  margin-top: 40px;
}

.boton1 {
  padding: 12px 35px;
  border: 0;
  border-radius: 30px;
  margin-left: 20px;
  color: white;
  background-color: rgb(36, 56, 51);
  font-size: 100%;
}

.boton2 {
  padding: 12px 35px;
  border: 0;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 40px;
  font-size: 100%;
}

.imgces {
  width: 40px;
  margin-left: -20px;
  position: absolute;
  float: right;
}

@media screen and (max-width: 880px) {

  .boton1 {
    display: none;
  }

  .boton2 {
    display: none;
  }

}


@media screen and (max-width: 600px) {

  .imgces {
    display: none;
  }

}
  .grid-container {
    display: grid;
    gap: 100px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

    font-size: 30px;
    width: 100%;
  }

  .item1 {
    grid-column: 1 / span 6;
    grid-row: 1;
    display: inline-block;
    position: relative;
    text-align: center;


  }

  .texto-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    color: rgb(36, 56, 51);
  }

  .offer {
    width: 100%;
    height: 100%;

  }

  .item2 {
    grid-column: 1 / span 3;
    grid-row: 2;

  }

  .cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }



  .boton {
    padding: 15px 50px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: rgb(36, 56, 51);
    font-size: xx-large;

  }


  .item3 {
    grid-column: 4 / span 3;
    grid-row: 2;
  }

  .marco-circular {
    width: 70%;
    height: 100%;
    margin-top: -40px;
  }

  .item4 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .item5 {
    grid-column: 3 / span 2;
    grid-row: 3;
  }

  .item6 {
    grid-column: 5 / span 2;
    grid-row: 3;
  }
  .fot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    z-index: 999;
    background-color: #243833;
    padding: 20px;
    text-align: center;

    left: 0;
    right: 0;
    color: white;

}

.col {
    flex-grow: 2;

}

.colcentral {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.txprimero {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.txtpeque {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.col1 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.txt {
    font-size: 300%;
}

.txtcentro {
    font-size: xx-large;
}

.txtlegal {
    font-size: x-large;
}

.txtlegal1 {
    font-size: x-large;
}


.txt1 {
font-size: xx-large;
}


.logosfooter {
display: flex;
flex-direction: row;
gap: 10px
}

.logoinsta {
width: 50px;
height: 50px;
}

.logowhats {
width: 50px;
height: 50px;
}

.barra {
font-size: 700%;
}

